
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/imagenes/nuevofondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.container {
    text-align: center;
    margin: 150px;
}


h1 {
    color: white;
    font-size: 50px;
}


ul {
    list-style-type: none;
    padding: 0;
}


li {
    display: inline;
    margin: 0 10px;
    font-size: 35px;
}


a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}


a:hover {
    color: #c0c0c0;
}
